.pink-text {
    color: deeppink;
}

.restaurant-card { /* this one prevents the height of the horizontal card from becoming too tall and ugly */
    max-height: 210px;
}

.fa-gold { 
    color: gold;
}
